CONFIG_FHANDLE=y
CONFIG_UEVENT_HELPER_PATH=""
CONFIG_CGROUPS=y
CONFIG_CGROUP_FREEZER=y
CONFIG_CGROUP_PIDS=y
CONFIG_CGROUP_SCHED=y
CONFIG_RT_GROUP_SCHED=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_CGROUP_BPF=y
# CONFIG_CGROUP_PERF is not set
# CONFIG_HUGETLB_PAGE is not set
# CONFIG_CGROUP_HUGETLB is not set

# filesystem
CONFIG_INOTIFY_USER=y
CONFIG_DNOTIFY=y

# networking
CONFIG_SYN_COOKIES=y

# namespace
CONFIG_NAMESPACES=y
CONFIG_UTS_NS=y
CONFIG_NET_NS=y
