# Although enabling most config
# symbols should not be built
# as modules.
CONFIG_MODULES=y
CONFIG_EXPERT=y
CONFIG_MULTIUSER=y
CONFIG_MEMORY=y
CONFIG_CPU_FREQ=y

CONFIG_KERNEL_XZ=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y

CONFIG_PM=y
CONFIG_WATCHDOG=y
CONFIG_BINFMT_ELF=y

# Required by userspace processes
CONFIG_SYSVIPC=y
CONFIG_POSIX_MQUEUE=y
CONFIG_POSIX_TIMERS=y
CONFIG_FUTEX=y
CONFIG_EPOLL=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EVENTFD=y

CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y

# Memory Type Range Register support
# for memory access optimizations.
CONFIG_MTRR=y
CONFIG_SMP=y

CONFIG_DMI=y
CONFIG_DMIID=y
