# Intel specific
CONFIG_MCORE2=y
CONFIG_PROCESSOR_SELECT=y
CONFIG_CPU_SUP_INTEL=y
# CONFIG_CPU_SUP_AMD is not set
# CONFIG_CPU_SUP_HYGON is not set
# CONFIG_CPU_SUP_CENTAUR is not set
# CONFIG_CPU_SUP_ZHAOXIN is not set
CONFIG_X86_INTEL_PSTATE=y

# May want to move into a intel-input.cfg
CONFIG_INTEL_ISH_HID=y
